#transparency-slider-bar {
    margin: 0 auto;
    width: 50%;
    display: table;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    height: 1.0em;
    border-radius: 5px;
}

#transparency-slider {
    width: 95%;
    z-index: 100;
    display: block;
    margin: 0 auto;
}

#transparency-slider-value {
    width: 95%;
    z-index: 100;
    display: block;
    margin: 0 auto;
    font-size: 0.7em;
}